{% extends "survey/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Surveys' %}{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th> {% trans 'Survey' %} </th>
      <th class="text-right"> {% trans 'Questions' %} </th>
    </tr>
  </thead>
  <tbody>
{% for survey in survey_list %}
    <tr>
      <td title="{{ survey.description|striptags }}">
        <a href="{% url 'survey_detail' survey.name %}"> {{ survey.title }} </a>
      </td>
      <td class="text-right"> {{ survey.questions.count }} </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock content %}
