description "Gunicorn server for {{ host }}"

start on net-device-up
stop on shutdown

respawn

setuid {{ ansible_ssh_user }}
chdir /home/{{ ansible_ssh_user }}/sites/{{ host }}/source

exec ../virtualenv/bin/gunicorn --bind unix:/tmp/{{ host }}.socket howx.wsgi:application --workers 2
